* {
	font-size: 10pt;
}

body {
	  background: linear-gradient(white, lightblue);
	min-width: 275px;
}




#content .container {
	background-color: white;
	padding-top: 15px;
	min-height: 400px;
}



.panel-default > .panel-heading {
	background-image: linear-gradient(to bottom, #22344e 10px, #22344e 100%);
	color: #fff;
}
.panel-heading a {
	background: linear-gradient(white, lightblue);
}


.breadcrumb {
	background: linear-gradient(white, lightblue);
	padding: 0 0 0 30px;
	min-width: 400px;
}

  
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
  
  body {

  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.wrapper {
  background: transparent;
  
  max-width: 50%;
  display: flex;
  flex-direction: row;
  height: 80%;
}

.left, .right {
  background: transparent;
  margin: 10px;
  max-width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  align-items: center;
  justify-content: center;
}

.profile-picture {
  border-radius: 50%;
}

.social-links {
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
}

.social-links li {
  display: inline-block;
  margin-right: 8px;
}

.social-links a {
  text-decoration: none;
  padding: 4px;
}

.social-links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#contact {{
	margin: 0;
	padding: 0;
	text-align: center;
	background: linear-gradient(white to lightblue);

}

.contact-title{
	margin-top: 100px;
	color:	black;
	text-transform: uppercase;

}
.contact-title h1{
	font-size: 32px;
	line-height: 10px;
}
.contact-title h2{
	font-size: 16px;

}
form{
	margin-top: 50px;


}
.form-control{
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: white;
	font-size: 18px;
	margin-bottom: 16px;
}

input{
	height: 45px;
}

form .submit{
	background: #ff5722;
	border-color: transparent;
	color: white;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
}

form .submit:hover{
	background-color: #f44336;
	cursor: pointer;
}}
